body {
    height: 95vh;
    width: 98vw;
    display: flex;
    align-items: center;
}

#root{
    width: 100%;
    height: 100%;
}

:root{
    --tile-width-xs: 37px;
    --tile-width-sm: 40px;
    --tile-width-lg: 50px;
}